@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
.look{
    text-align: center;
    /* background-color: rgb(26, 24, 24); */
    

}
body{
    background-color: #000000;
}
.smallscreen{
    display: none;
    position: absolute;
    right: 0;
}


h1{
    font-family: 'Reggae One', cursive;
    font-size: 40px;
    color: white;
}
h3{ 
    font-family: 'Quicksand', sans-serif;
    color: rgb(160, 156, 156);
}
    .instructions{
        display: none;
        text-align: center;
    }

.icon{
    position: relative;
    display: inline;
    font-size: 20px;
    cursor: pointer;
    opacity: 0.7;
}
.icon:hover + .instructions{
    position: absolute;
    z-index: 10;
    display: flex;
    color: black;
    background-color: rgb(110, 107, 107);
    border: double;
    border-width: 10px;
    border-color: black ;
    border-radius: 17px;
    padding:0 20px 0 20px;
    overflow: hidden;
      
    max-width: 300px;
    text-align: center;
    cursor: pointer;
    
}

.instruction.active{
    position: absolute;
    z-index: 10;
    display: flex;
    color: black;
    background-color: rgb(110, 107, 107);
    border: double;
    border-width: 10px;
    border-color: black ;
    border-radius: 17px;
    padding:0 20px 0 20px;
    text-align: center;
    cursor: pointer;
    margin-top: 40px;
    margin-right: 10px;

}
.gamepanel{
    position:relative;
    padding-top: 20px;
    width: 100%;
    height: 400px;
    margin-top: 0px;
    
    box-shadow: 0 0 50px 10px rgb(39, 36, 36);

}
.gameboard{
    position: relative;
    width: 11em;
    height:11em;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

#new-game button{
    top: -12em;
    position: relative;
    text-align: center;
    z-index: 1000;
    background-color: black;/*#8113a0; /* Green */
    border: solid;
    border-width: 2px;
    border-color: white;
    box-shadow: 1px 2px 5px #000000;
    border-radius: 8px;
    outline-color: black;
    color: white;
    display: inline-block;
    padding: 15px 032px;
    text-align: center; 
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 2em; */
}


.top-left-red{
    background-color: rgb(179, 20, 20);
    border-top-left-radius: 100% ;
}
.top-left-red:hover{
    /* opacity: 0.5; */
    background-color: red;
    filter: brightness(300%);
    box-shadow:inset -5px -5px 10px 0px rgb(245, 36, 36);
}
.active.top-left-red{
    background-color: red;
    filter: brightness(300%);
    box-shadow: -5px -5px 10px 0px rgb(245, 36, 36);
}

.bottom-left-qc{
    background-color: rgb(170, 170, 9);
    border-bottom-left-radius: 100% ;
}
.bottom-left-qc:hover{
    /* opacity: 0.5; */
    background-color: yellow;
    /* filter: brightness(300%); */
    box-shadow:inset -5px 5px 10px 0px rgb(245, 235, 104);
}
.active.bottom-left-qc{
    /* opacity: 0.5; */
    background-color: yellow;
    /* filter: brightness(300%); */
    box-shadow: -5px 5px 10px 0px rgb(245, 235, 104);
}

.top-right-qc{
    background-color: green;
    border-top-right-radius: 100% ;
}
.top-right-qc:hover{
    background-color: rgb(89, 255, 47);
    box-shadow: inset 5px -5px 10px 0px rgb(169, 247, 149);

}
.active.top-right-qc{
    background-color: rgb(89, 255, 47);
    box-shadow: 5px -5px 10px 0px rgb(169, 247, 149);
}

.bottom-right-qc{
    background-color: rgb(4, 76, 136);
    border-bottom-right-radius: 100% ;
}
.bottom-right-qc:hover{
    background-color: rgb(16, 129, 221);
    box-shadow: inset 5px 2px 10px 0px rgb(107, 204, 241);
    filter: brightness(150%);
}

.active.bottom-right-qc{
    background-color: rgb(16, 129, 221);
    box-shadow: 5px 2px 10px 0px rgb(107, 204, 241);
    filter: brightness(150%);
}

.center{
    text-align: center;
    
    position: relative;
    display: inline-block;
    /* background-color:rgb(26, 24, 24); */
    background-color: #000000;
    width: 13em;
    height: 13em;
    border-radius: 50%;
    top: -18em;
    
    /* box-shadow: inset 0px 0px 10px 5px rgb(148, 149, 150); */
}

@media(max-width:500px){
    .gameboard{        
        width: 7em;
        height:7em;        
    }
    .center{
        top: -12.2em;
        width: 9em;
        height: 9em;
        margin-bottom: 100px;
    }

   
}
@media(max-width:1140px){
    .smallscreen{
        display: block;
    }
    .icon{
        display: none;
    }

}
